# Sample /etc/yumcache.config file
# Line format:
# <bogus hostname>::<mirror1>[::<mirror2>[::<mirror3>....]]
# Example:
# www.idontexist.com::hostnameInOfficeNetwork:8080/idontexitmirrorpath
# the previous line will make the requests to yumcache server (localhost:1012)
# to path /www.idontexist.com/somePath to actually access
# hostnameInOfficeNetwork:8080/idontexitmirrorpath/somePath
fedora-19.mirrors.stratoscale.com::10.0.0.30:7722/fedora-19
centos-7.mirrors.stratoscale.com::rack02-server36.strato:1012/yumfreeze.com.s3-website-us-east-1.amazonaws.com/centosBase-7.0.1406-os-x86_64/2015-04-30-122730::yumfreeze.com.s3-website-us-east-1.amazonaws.com/centosBase-7.0.1406-os-x86_64/2015-04-30-122730
centos-7-updates-2014-09-17.mirrors.stratoscale.com::rack02-server36.strato:1012/yumfreeze.com.s3-website-us-east-1.amazonaws.com/centos-7-x86_64-updates/2014-09-17-155046::yumfreeze.com.s3-website-us-east-1.amazonaws.com/centos-7-x86_64-updates/2014-09-17-155046
centos-7-updates-2014-10-05.mirrors.stratoscale.com::rack02-server36.strato:1012/yumfreeze.com.s3-website-us-east-1.amazonaws.com/centos-7-updates-x86_64/2014-10-05-143309::yumfreeze.com.s3-website-us-east-1.amazonaws.com/centos-7-updates-x86_64/2014-10-05-143309
